.auth-page-logo {
  margin: 20px auto;
  width: 110px;
  height: 80px;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .auth-page-logo {
    width: 60px !important;
    height: 40px !important;
  }
}
@media (min-width: 600px) {
  .signup-container .signup {
    padding: 50px 70px !important;
  }
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

/* body {
  background-color: #4b111b;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
} */

.signup-container button,
.signup-container input {
  border: none;
  outline: none;
}

.signup-container .signup {
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.signup-container h3 {
  text-align: center;
  color: #ef3232dc;
  font-size: 1.3em;
}
.signup-container h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;

  margin-bottom: 40px;
}

.signup-container h2 span {
  text-decoration: underline;
  cursor: pointer;
  color: #ef3232dc;
}

/*  Field */
.signup-container .signup__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  height: 50px;
}

.signup-container .signup__field:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 2px;
  background: #ef3232dc;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease;
}

.signup-container .signup__field:hover:before,
.signup-container .signup__field:focus-within:before {
  width: 100%;
}

/*  Input */
.signup-container .signup__input {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 10px 2px 0;
  border-bottom: 2px solid #e0e0e0;
  color: #ef3332;
  background: transparent !important;
}

/*  Label */
.signup-container .signup__label {
  color: #ef3332;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  background: transparent !important;
}

.signup-container .signup__input:focus + .signup__label,
.signup-container .signup__input:valid + .signup__label {
  top: 0;
  font-size: 1rem;
  background-color: transparent;
}

/*  Button */
.signup-container button {
  background: #ef3332;
  color: white !important;
  padding: 12px 0;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
}

.signup-container button:hover {
  background: #ef3232dc;
}

.signup-container button:disabled {
  opacity: 0.6;
  /* cursor: crosshair; */
  pointer-events: none;
}
